# Docker
.dockerignore
Dockerfile
*.Dockerfile
docker-compose.yml
docker-compose.*.yml

# Dependencies
/api/venv
/client/node_modules
/client/.pnp
/cient/.pnp.js

# Testing
/api/coverage

# Production
/client/build

# Miscelaneous
**/.DS_Store
/api/__pycache__
/api/requirements.txt

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# IDE
**/.idea
