# Dependencies
/api/venv
/client/node_modules
/client/.pnp
/client/.pnp.js

# Testing
/api/coverage

# Production
/client/build

# Miscelaneous
__pycache__
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
/api/.idea
/client/.idea
